@model HomeKartShop.Models.UserRegisterData

@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm("Login", "UserAccount", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <div class="login-box">
        <div class="left">
            <h2 class="login-h1">Login</h2>
            @if (TempData["Message"] != null)
            {
                <p>
                    @TempData["Message"].ToString()
                </p>
            }
            @Html.ValidationSummary(true,"", new { @class = "text-danger" })


            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "login-text", @placeholder = "User Name" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "validation_message" })

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "login-password", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation_message" })


            <input type="submit" value="Login" class="login-button" />
        </div>
        <div class="right">
            <span class="loginwith">Sign in with<br />social network</span>
            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google</button>
        </div>
        <div class="or">OR</div>
    </div>
}


