@model HomeKartShop.Entity.CarouselSlider

@{
    ViewBag.Title = "CarousalDetails";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>CarousalDetails</h2>

<div>
    <h4>CarouselSlider</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.FileName) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
